.contact-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.contact-div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.contact-call {
  display: flex;
  padding: 10px 0 0 0;
  width: 110%;
  justify-content: flex-end;
}

.label {
  font-family: "Urbanist", sans-serif;
  color: purple;
}

.form-control,
.send-button {
  letter-spacing: 2px;
  color: black;
  padding: 10px;
  font-family: "Urbanist", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.send-button {
  background: radial-gradient(
    circle,
    white 5%,
    orange 25%,
    rgb(232, 82, 1) 70%
  );
  transition: 0.05s ease;
  border-radius: 100%;
  height: 60px;
  width: 60px;
  position: absolute;
  top: 180px;
  right: -20px;
  border: 0.5px solid black;
}

.form-control {
  background-color: white;
  width: 100%;
  border: 1px solid black;
  border-radius: 2px;
}

.contact-nav {
  position: absolute;
  top: 0;
  right: 0;
}

.send-button:hover {
  cursor: pointer;
  background-color: lavender;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-col {
  width: 45%;
}

.form-col-full,
.form-col {
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
  margin: 0px 20px 0px 0px;
}

.contact-form-div {
  display: flex;
  justify-content: center;
  width: 400px;
  align-self: center;
}

.contact-form {
  display: flex;
  align-items: center;
  align-self: center;
  flex-direction: column;
  padding: 0px;
  position: relative;
  max-width: 700px;
  /* min-height: 300px; */
  margin: 0px;
}

.message {
  height: 80px;
}

input textarea {
  font-size: large;
}

@media (max-width: 500px) {
  .contact-form-div {
    width: 300px !important;
  }
}

@media (max-width: 400px) {
  .contact-form-div {
    width: 250px !important;
  }
}
