.image-container2 {
  height: 300px;
  /* width: 100%; */
  bottom: 0;
  position: relative;
  /* overflow: hidden; */
}

.star {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 10px white;
  animation: glow 2s infinite alternate ease-in-out;
  z-index: 20;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px white;
    opacity: 0.5;
  }
  100% {
    box-shadow: 0 0 15px white;
    opacity: 1;
  }
}

.levitating-image {
  width: 100%;
  height: 100%;

  object-fit: cover;
  animation: levitate 3s ease-in-out infinite;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.back-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes levitate {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
