.email-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sign-up {
  font-weight: 600;
  letter-spacing: 1.5px;
  color: var(--color1);
  font-size: 18px;
  z-index: 999;
  font-family: "__Inter_e66fe9", "__Inter_Fallback_e66fe9";
  text-decoration: none;
  color: salmon;
}

.email-list-input-div {
  width: 100%;
  margin: 0 5px 0 0;
  height: 100%;
  /* border: 0.5px solid black; */
}

.email-list-container p,
.email-list-input-div,
.email-list-button-div {
  font-size: 18px;
}

.email-list-form {
  display: flex;
  justify-content: center;
  border: none;
  /* border: 1px solid maroon; */
  width: 200px;
  height: 60px;
  align-items: center;
  align-self: center;
  /* background-color: #ffffff7a; */
  border-radius: 2px;
}

.newsletter:hover {
  cursor: default;
  color: lavender !important;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.sign-up-form span {
  color: maroon;
  padding-bottom: 3px;
  font-size: 14px;
  text-align: center;
  /* letter-spacing: 1px; */
}

.sign-up-form-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
  height: 25px;
}

.send-2 {
  border: 1px solid black;
  background-color: lightblue;
  border-radius: 2px;
  font-family: "Courier New", Courier, "Lucida Console", "DejaVu Sans Mono",
    monospace;
  width: 15px;
  padding: 0;
  width: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 20px;
}

.emailListInput {
  width: 100%;
  border: 1px solid black;
  border-radius: 2px;
  background-color: white;
  /* height: 100%; */
  color: black;
  box-sizing: border-box;
}

.send-2:hover {
  background-color: rgb(138, 187, 203) !important;
  color: black !important;
  cursor: pointer;
  border-color: black !important;
}

.email-logo {
  width: 150px;
  display: none;
}

@media screen and (max-width: 1000px) {
  .email-logo {
    color: black;
  }
}

@media screen and (max-width: 500px) {
  .email-list-form {
    margin-left: 0px;
    justify-content: center;
  }
  .sign-up-form span {
    font-size: 12px;
  }
}
