.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.border-bl {
  left: 0;
  transform: scaleY(-1);
}

.border-br {
  right: 0;
  transform: scaleX(-1) scaleY(-1);
}

.fa-instagram {
  font-size: x-large;
}

.footer-div-2 {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 10px 50px;
  box-sizing: border-box;
  width: 100%;
  z-index: 1;
  margin-top: 20px;
  align-items: flex-end;
}

footer {
  width: 100vw;
  background-color: rgb(255, 255, 255, 0.8);
  /* border-top: 2px solid var(--color2); */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.border {
  grid-area: border;
  display: flex;

  justify-content: space-between;
  margin-top: -80px;
  box-sizing: border-box;
}

.border-br,
.border-bl {
  width: 150px;
  height: auto;
  z-index: 0;
  max-width: 450px;
  margin: 10px;
  box-sizing: border-box;
}

.socials {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.socials a {
  margin: 0 5px;
  color: var(--color1) !important;
  font-weight: 100 !important;
}

.arr {
  text-align: center;
  font-size: 11px;
  color: var(--color1);
  bottom: 20px;
  width: 100%;
  font-family: "Neutraface Text", sans-serif;
  margin-top: 30px;
}

.footer-nav-item {
  margin: 5px;
}

.footer-nav-item a {
  font-size: 10px;
  color: var(--color1);
  font-family: "Neutraface Text", sans-serif;
}

.footer-contact-text {
  font-size: 11px;
  color: var(--color1);
  font-family: "Neutraface Text", sans-serif;
  margin: 5px 0;
  line-height: 20px;
}

.socials i {
  color: black;
}

.sitemap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  text-decoration: underline;
  width: 240px;
}

.sitemap a {
  color: black;
  padding: 5px 0;
  text-decoration: none;
  display: block;
}

@media screen and (max-width: 500px) {
  .socials p {
    font-size: 12px !important;
  }
  /* .footer-div-2 {
    margin-top: -115px;
  } */
}

@media screen and (max-width: 600px) {
  footer {
    margin-bottom: 90px !important;
  }
}
