.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.border-bl {
  left: 0;
  transform: scaleY(-1);
}

.border-br {
  right: 0;
  transform: scaleX(-1) scaleY(-1);
}

.fa-instagram {
  font-size: x-large;
}

/* .footer-div-2 {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  z-index: 1;
  align-items: flex-end;
} */

.footer-div-2 {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  z-index: 1;
  align-items: flex-end;
}

/* New wrapper for the two divs */
.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 66.6%;
}

footer {
  /* height: 100%; */
  width: 100vw;
  background-color: rgb(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.footer-div-1 {
  display: flex;
  justify-content: center;
  width: 50%;
}

.border {
  grid-area: border;
  display: flex;

  justify-content: space-between;
  margin-top: -80px;
  box-sizing: border-box;
}

.border-br,
.border-bl {
  width: 150px;
  height: auto;
  z-index: 0;
  max-width: 450px;
  margin: 10px;
  box-sizing: border-box;
}

.socials {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0;
  display: none;
}

.socials a {
  margin: 0 5px;
  color: var(--color1) !important;
  font-weight: 100 !important;
}

.arr {
  text-align: center;
  font-size: 12px;
  color: var(--color1);
  bottom: 20px;
  width: 100%;
  font-family: "Neutraface Text", sans-serif;
}

.footer-nav-item {
  margin: 5px;
}

.footer-nav-item a {
  font-size: 12px;
  color: var(--color1);
  font-family: "Neutraface Text", sans-serif;
}

.footer-contact-text {
  font-size: 12px;
  color: var(--color1);
  font-family: "Neutraface Text", sans-serif;
  margin: 5px 0;
  line-height: 20px;
}

.contact-footer-div {
  text-align: center;
  width: 200px;
}

.socials i {
  color: black;
}

.sitemap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  text-decoration: underline;
  width: 240px;
}

.sitemap a {
  color: black;
  padding: 5px 0;
  text-decoration: none;
  display: block;
}

.footer-nav {
  min-width: 80px;
  width: 33.3%;
}

/* Mobile Styles */
@media screen and (max-width: 600px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-div-1 {
    justify-content: flex-start;
    width: 100%;
    /* justify-self: self-start; */
    align-self: flex-start;
  }

  .contact-footer-div {
    margin: 15px 0;
    align-self: flex-end;
    text-align: end;
  }
}

@media screen and (max-width: 500px) {
  .socials p {
    font-size: 12px !important;
  }
}

/* @media screen and (max-width: 600px) {
  footer {
    padding-bottom: 90px !important;
  }
  .footer-div-2 {
    flex-direction: column;
  }
  .footer-nav {
    align-self: self-start;
  }

  .footer-div-1 {
    align-self: center;
  }
} */
