p {
  color: black;
  text-decoration: none !important;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 9999;
  background-color: transparent;
}

.close-mc {
  font-size: x-large;
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  margin: 0;
  box-sizing: border-box;
}

.close-mc:hover {
  color: gray !important;
}

.trailer-container {
  position: relative;
  margin: 25px;
  padding-top: 56.25%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.review-container {
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-modal-image {
  color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  height: auto;
}

.together {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  width: 500px;
  box-sizing: border-box;

  background-color: white;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  margin: auto;
}

.iframe-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}

.poster-review-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sticker-modal {
  position: absolute;
  top: 90px;
  right: 130px;
  z-index: 5;
}

.streaming-trailer-div {
  justify-content: space-between;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal-title-div {
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
}

.modal-header {
  display: flex;
  justify-content: center;
  color: black;
  font-size: x-large;
  align-items: center;

  border: double 12px rgb(250, 106, 103);
  border-radius: 15px 15px 0 0;
  background-color: rgb(245, 186, 77);
  padding: 10px;
}

.modal-footer {
  border: none;
}

.modal-title {
  font-size: x-large;
}

.modal-body {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  /* max-height: 93vh; */
  overflow-x: hidden;
  overflow-y: scroll;
}

.modal-body::-webkit-scrollbar {
  width: 12px;
}

.modal-body::-webkit-scrollbar-track {
  background: transparent !important;
}

.modal-body::-webkit-scrollbar-thumb {
  background: lightgreen;
  border-radius: 12px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.57);
  z-index: 9998;
}

iframe.iframe .ytp-title-link {
  display: none !important;
}

.modal-open {
  overflow: hidden;
}

body.modal-open {
  overflow: hidden;
  height: 100%;
  position: fixed;
  width: 100%;
}

.review {
  width: 100%;
  font-size: medium;
  line-height: 1.5;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  text-align: justify;
}

.review-title {
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: bolder;
  padding: 5px;
  text-align: center;
}

.modal::-webkit-scrollbar-track {
  background-color: transparent;
}
.modal::-webkit-scrollbar-thumb {
  background-color: #90ee90;
  border-radius: 10px;
  z-index: 999999999;
}
.modal:-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

@media screen and (max-width: 1000px) {
  .poster-review-div {
    flex-direction: column;
  }

  .modal {
    align-items: flex-start !important;
  }

  .together {
    max-width: unset !important;
    margin: 20px 20px 120px 20px !important;
  }
}

@media screen and (max-width: 900px) {
  .review-div,
  .review {
    font-size: medium !important;
  }

  .modal-content ul {
    gap: 1.5rem !important;
  }

  .modal-title {
    font-size: medium !important;
  }
}
