.about-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 145px;
}

.about-div {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 30px 20px;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
}

.about-content-div {
  box-sizing: border-box;
  padding: 50px 20px 20px 20px;
  align-self: center;
  justify-self: center;
  width: 100%;
}

.about-header {
  text-align: center;
  margin: 30px 0;
}

.about-logo {
  width: 100%;
  max-width: 400px;
}

.about-section {
  max-width: 800px;
  justify-self: center;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
}

.about-title,
.bio-name {
  text-align: center;
  margin-bottom: 10px;
  font-family: "Neutraface Text", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.about-quote {
  width: 300px;
  font-style: italic;
  text-align: center;
  font-family: "Neutraface Text", sans-serif;
  justify-self: center;
}

.about-text,
.bio-text,
.about-list-item {
  margin-bottom: 15px;
  text-align: justify;
  align-self: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: "Neutraface Text", sans-serif;
}

.about-list {
  padding-left: 20px;
}

.about-list-item {
  margin-bottom: 8px;
}

.bio-text {
  margin-bottom: 10px;
  text-align: justify;
}

.bio-section {
  margin-bottom: 30px;
}

.bio-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.theo-bio-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 50%;
}

.bio-text {
  flex: 1;
  text-align: justify;
}

@media (max-width: 700px) {
  .bio-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .bio-text {
    text-align: justify;
  }
}
