/* * {
  outline: 1px solid red;
} */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@font-face {
  font-family: "Neutraface Text";
  src: url("/fonts/Neutraface-Text-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Neutraface Text";
  src: url("/fonts/Neutraface-Text-Light-Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Neutraface Text";
  src: url("/fonts/Neutraface-Text-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Neutraface Text";
  src: url("/fonts/Neutraface-Text-Book-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Neutraface Text";
  src: url("/fonts/Neutraface-Text-Demi.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Neutraface Text";
  src: url("/fonts/Neutraface-Text-Demi-Italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Neutraface Text";
  src: url("/fonts/Neutraface-Text-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Neutraface Text";
  src: url("/fonts/Neutraface-Text-Bold-Italic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

:root {
  --color1: #be1f2e;
  --color2: lightblue;
  --color3: rgb(153, 161, 168);
  --color4: rgb(212, 180, 124);
  --color5: rgb(183, 227, 168);
}

/* Global Scrollbar Styling */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  /* background: rgba(0, 0, 0, 0.3); */
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  /* background: var(--color3); */
  /* background: transparent; */
  border-radius: 10px;
  border: 2px solid transparent;
  background: rgba(0, 0, 0, 0.3);
  /* background: var(--color2); */
}

*::-webkit-scrollbar-thumb:hover {
  /* background: var(--color2); */
  background: rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-corner {
  background: transparent; /* Transparent corner for overlapping scrollbars */
}

.FAQ-link:hover {
  color: #709f93 !important;
  cursor: pointer;
}

.content {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

html,
body {
  font-family: "Lexend", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden !important;
  height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(251, 250, 243); /* or any light color */
  opacity: 0.2; /* Adjust this value (0.1 - 1) */
  z-index: -1; /* Ensure it stays behind content */
}

body {
  background-image: url("/img/paper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body.navbar-open {
  overflow: hidden;
}

body.no-scroll {
  overflow: hidden;
}

.iframe-div {
  width: 104%;
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  touch-action: none;
}

body,
label {
  color: black;
}

.home-image {
  width: 100%;
  height: auto;
  max-width: 46%;
  margin-left: 30px;
  margin-top: 20px;
}

.image-div {
  /* height: 100%; */
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.learn-more-button {
  margin: 0 20px;
  border: 1px solid var(--color1);
  padding: 3px;
  width: 120px;
  display: flex;
  justify-content: center;
  border-radius: 2px;
  justify-self: flex-end;
  align-self: flex-end;
}

.welcome {
  font-family: "Neutraface Text", sans-serif;
  font-weight: 400;
  font-size: 25px;
  padding: 0;
  margin: 30px 0 0 20px;
}

.home-body {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* .landing-container::-webkit-scrollbar-track,
.about-page::-webkit-scrollbar-track,
.home-body::-webkit-scrollbar-track,
.qaa::-webkit-scrollbar-track {
  background-color: transparent;
}

.landing-container::-webkit-scrollbar-thumb,
.about-page::-webkit-scrollbar-thumb,
.home-body::-webkit-scrollbar-thumb,
.qaa::-webkit-scrollbar-thumb {
  background-color: #90ee90;
  border-radius: 10px;
  z-index: 999999999;
}

.landing-container:-webkit-scrollbar,
.about-page::-webkit-scrollbar,
.home-body::-webkit-scrollbar,
.qaa::-webkit-scrollbar {
  width: 8px;
  height: 8px;
} */

.page-container,
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-check,
.details {
  display: flex;
  justify-content: center;
}

.details-column,
.page-container,
.profile-container,
.details {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-title-div {
  display: flex;
  align-items: center;
}

.card-body {
  padding: 0px;
  height: 45% !important;
  display: flex;
  justify-content: center;
}

input,
textarea {
  letter-spacing: 2px;
}

.input[type="checkbox"]:checked {
  background-color: lightgreen !important;
  color: #ffffff !important;
}

.input[type="checkbox"]:after {
  box-shadow: none !important;
}

.form-check-input {
  background-color: white;
  border: solid black 1px;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  cursor: pointer;
}

.offering-details-page {
  display: flex;
  justify-content: center;
  padding: 0;
}

#contactTextArea {
  min-height: 100px;
}

.scroll-search-results {
  width: 100%;
  overflow-x: auto !important;
  overflow-y: hidden;
  display: flex;
  margin: 0;
  padding: 15px 0 23px 0;
  min-height: 310px;
}

.scroll-search-results ul {
  display: flex;
  gap: 15px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  overflow: visible;
  justify-content: center;
  width: 100%;
}

.scroll-search-results ul li {
  padding: 0 !important;
}

.scroll-search-results::-webkit-scrollbar {
  width: 12px;
}

.retreat-li,
.event-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  width: 170px;
  height: 280px;
  background-color: rgb(245, 245, 250);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-container {
  padding: 10px;
  box-sizing: border-box;
  justify-content: space-between;
}

.event-container:hover {
  cursor: pointer;
}

.highlight-title {
  font-size: 12px;
  font-weight: bolder;
  text-align: center;
  margin: 0;
  font-family: "Lexend", sans-serif;
  padding-top: 8px;
}

.modal-open {
  overflow: hidden;
}

body.modal-open {
  overflow: hidden;
  height: 100%;
  position: fixed;
  width: 100%;
}

.movie {
  object-position: top;
  margin-left: 10px;
  z-index: 4;
  margin: 0;
  border-radius: 3px 3px 0 0;
}

.home-text-div {
  width: 48%;
  align-self: center;
  /* margin: 20px; */
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-family: "Lexend", sans-serif;
}

.home-text {
  text-align: justify;
  padding: 10px 20px;
  max-width: 500px;
  align-self: center;
  font-size: 14px;
  font-weight: 200;
  margin: 0;
}

.slideshow {
  position: relative;
  width: 100%;
  height: 300px;
  /* max-height: 800px; */
  overflow: hidden;
}

.slide {
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  width: 100%;
  max-height: 300px;
}

.slide.active {
  opacity: 1;
  max-height: 300px;
}

.person-image {
  float: left;
  width: 200px !important;
  height: auto !important;
  margin-right: 20px;
  margin: 0;
  border-radius: 2px;
}

.room-carousel {
  margin-bottom: 20px;
}

.room-title {
  letter-spacing: 1px;
  font-size: 20px;
  font-family: "Neutraface Text", sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 5px 0;
}

.person-bio {
  text-align: justify;
  font-size: 12px;
  max-width: 700px;
  line-height: 1.7;
  display: block;
}

.sticker {
  display: none !important;
}

.home-div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* NAVBAR */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
.fake-navbar {
  display: grid;
  grid-template-areas:
    "border-left logo border-right"
    "navbar navbar navbar";
  grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
  justify-items: center;
  width: 100%;
  box-sizing: border-box;
  margin: 0px;
  position: relative;
  z-index: 1;
  /* background-color: rgba(251, 251, 234, 0.7); */
}

.nav-item,
.nav-item a {
  letter-spacing: 2px;
  color: black;
  text-decoration: none;
  z-index: 999;
  font-size: 14px;
}

.nav-item:hover,
.nav-item a:hover {
  cursor: pointer;
  text-shadow: 4px 4px 4px var(--color2); /* Brown shadow with blur */
}

.border-left,
.border-right {
  width: 150px;
  height: auto;
  z-index: 0;
  margin: 10px;
  box-sizing: border-box;
  height: auto;
  z-index: 0;
  max-width: 450px;
}

.border-left {
  grid-area: border-left;
  justify-self: start;
}

.border-right {
  grid-area: border-right;
  transform: scaleX(-1);
  justify-self: end;
}

.navbar-logo {
  grid-area: logo;
  width: 200px;
  /* height: 150px; */
  z-index: 1;
  justify-self: center;
  margin-right: -200px;
  margin-left: -200px;
  align-self: center;
}

.about-content-div {
  max-width: 800px;
  align-self: center;
  margin: 20px;
}

.event-content-container {
  max-width: 800px;
  align-self: center;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.books-image,
.books-image:hover {
  cursor: pointer;
}

.event-heading {
  letter-spacing: 2px;
  font-size: 20px;
  margin: 20px 5px;
  justify-self: center;
  font-family: "Neutraface Text", sans-serif;
  text-align: start;
  display: inline-block;
}

.navbar-large {
  grid-area: navbar;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: -10px;
  background-color: white;
  align-items: center;
  border: 2px solid var(--color2);
  justify-content: space-around;
}

.nav-item {
  flex: 0 1 auto;
  text-align: center;
  padding: 5px;
  max-width: 150px;
  font-size: 12px;
  font-family: "Neutraface Text", sans-serif;
}

@media screen and (max-width: 800px) {
  .scroll-search-results {
    width: 100%;
    overflow: hidden !important;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0 !important;
    justify-content: flex-start !important;
  }

  .movie-scroll-labels {
    flex-direction: column;
  }

  .navbar-logo {
    width: 170px !important;
  }
}

@media screen and (max-width: 700px) {
  .navbar-logo {
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .nav-item,
  .nav-item a {
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  .home-text-div {
    margin: 15px !important;
    width: 100% !important;
    padding: 0 15px;
    box-sizing: border-box;
  }
  .image-div {
    flex-direction: column !important;
  }
  .home-image {
    margin: 0 !important;
    min-width: 150px;
    width: 100%;
    max-width: unset !important;
  }

  .scroll-search-results ul {
    margin: 0 !important;
    align-items: center;
    margin: 0 !important;
    flex-direction: column !important;
  }

  /* .home-text,
  .person-bio {
    font-size: 12px !important;
  } */

  .person-image {
    width: 120px !important;
  }
}

@media (max-width: 500px) {
  .navbar-logo {
    width: 150px !important;
    margin-bottom: 0px !important;
  }
}
