.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
}

.about-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  align-items: center;
}

.about-div {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 30px 20px;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
}

.about-person {
  max-width: 800px;
  margin: 20px;
}

.person-image {
  float: left;

  margin: 25px 15px 0 0;
  width: 200px !important;
  height: auto !important;
  filter: grayscale(100%);
}

.ccea-bio {
  margin: 15px 20px 0 20px;
}

.person-bio {
  margin-top: 15px;
}

.ccea-bio,
.person-bio {
  text-align: justify;
  line-height: 1.6;
}

.ccea-full-image {
  width: 400px !important;
  height: auto !important;
  align-self: center;
}

.download-section {
  display: flex;
}

@media screen and (max-width: 600px) {
  .about span {
    margin: 30px 20px;
  }

  .about-div span,
  .person-bio {
    font-size: medium;
  }

  .person-image {
    width: 120px !important;
    height: 120px !important;
  }

  .ccea-full-image {
    width: 300px !important;
    height: auto !important;
  }
}
