@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
}

.swiper-slide {
  display: flex !important;
  justify-content: center !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 20px !important;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-content {
  position: relative;
  background: transparent;
  border-radius: 4px;
  height: auto;
  width: 100vw;
}

.close-button {
  position: absolute;
  top: -50px;
  right: 0px;
  font-size: 30px;
  cursor: pointer;
  color: white;
}
.modal-image {
  max-width: 90vw;
  max-height: 90vh;
  width: 100%;
  height: auto !important;
}

.about-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  align-items: center;
}

.about-div {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 30px 20px;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
}

.about-person {
  text-align: justify;
  padding: 10px;
  border-radius: 4px;
  max-width: 500px;
  margin: 20px;
  justify-self: center;
  box-sizing: border-box;
}

.about-person img {
  margin-right: 10px;
  margin-top: 10px;
  height: 250px !important;
  width: auto !important;
}

.rentals-page {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.download-section {
  display: flex;
}

.package-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.packages-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.room-sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  width: 100%;
  box-sizing: border-box;
}

.package-card {
  display: flex;
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 280px;
  text-align: center;
}

.rental-packages {
  padding: 40px 20px;
}

.packages-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.package-photo {
  width: auto !important;
  height: 100;
}

.package-name {
  /* font-weight: bold; */
  margin: 0 0 10px 0;
  /* font-family: "Lexend", sans-serif; */
  font-family: "Neutraface Text", sans-serif;
  font-size: 18px;
  /* font-weight: bold; */
}

.package-details {
  text-align: start;
  color: #666;
  padding: 0 20px;
  font-size: 10px;
  line-height: 1.7;
  /* font-family: "Lexend", sans-serif; */
  /* font-family: "__Inter_e66fe9", "__Inter_Fallback_e66fe9" !important; */
}

.rental-page-title {
  font-size: 25px;
  margin-bottom: 15px;

  align-self: flex-start;
  font-family: "Neutraface Text", sans-serif;
}

.package-price {
  margin-top: 10px;
}

/* Availability Calendar */
.availability-calendar {
  padding: 40px 20px;
  width: 100%;
  box-sizing: border-box;
  text-align: unset;
  display: flex;
  flex-direction: column;
}

.calendar-title {
  font-weight: bold;
  margin-bottom: 20px;
}

.calendar-iframe {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  min-height: 600px;
  border: none;
  border-radius: 10px;
  justify-self: center;
}

/* Testimonials */
.testimonials-section {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  justify-self: center;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials-title {
  font-weight: bold;
  margin-bottom: 20px;
}

.testimonial {
  margin-bottom: 20px;
}

.testimonial-text {
  font-style: italic;
  font-size: 14px;
  text-align: justify;
  line-height: 1.5;
  margin: 20px;
  padding: 5px 8px;
  background-color: white;
}

.testimonial-author {
  font-weight: bold;
  text-align: right;
  font-size: 12px;
  margin-right: 20px;
}

@media screen and (max-width: 600px) {
  .about span {
    margin: 30px 20px;
  }
  .about-person {
    max-width: 100% !important;
  }
}
